/* Mobile First CSS */

#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#cardContain {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap:20px;
}

.card {
}


/* @keyframes  */

/* @media  */

