:root {
  font-family: Georgia, 'Times New Roman', Times, serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

#root {
  display: flex;
  flex-direction: column;
}


@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: orangered;
  }
}
